
@media (max-width:340px) {


    .home img{
    height: 39vh;
    }


    .about .image img{
        height: 29vh;
    }
    
    }

@media (max-width:456px) {


    .home img{
    height: 49vh;
    }

    .about .column .image img{
        height: 400px;
    }
    
    }


@media (max-width:768px) {


.home img{
height: 69vh;
}

.about img{
    height: 69vh;
}

}